body,
html {
  padding: 0%;
  margin: 0%;
  height: 100%;
  font-size: 18px;
  line-height: 22px;
}

nav {
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(207, 207, 207, 0.637);
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 43px;
  line-height: 43px;
  background-color: white;
}

nav ul {
  height: 43px;
  line-height: 43px;
}

nav ul li {
  display: inline-block;
  margin-right: 0%;
  list-style-type: none;
  height: 43px;
  line-height: 43px;
}

nav ul li a {
  text-decoration: none;
}

nav ul button {
  border-radius: 3px;
  cursor: pointer;
  font-family: helvetica, arial, sans-serif;
  background-color: #6288a5;
  border: 1px solid #326891;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  margin-top: -px;
  padding-top: 0px;
}

nav ul a {
  top: -1em;
  position: relative;
}

nav ul li a .subscribe {
  height: 32px;
  width: 119px;
}

nav ul li a .login {
  height: 32px;
  width: 63px;
}

nav .newyork {
  font-family: Old English Text MT;
  font-size: 1.5em;
}

nav > div {
  flex: 1;
  text-align: center;
}

.page-title {
  margin: auto;
  font-size: 2.3em;
  text-align: center;
  position: relative;
  font-family: georgia, "times new roman", times, serif;
  font-weight: bold;
  font-style: italic;
  top: 2em;
}

#telescope {
  text-align: center;
  margin-top: 9%;
}

.telescope {
  text-align: center;
  width: 75%;
  height: 65%;
}

#telescope #img-title {
  position: relative;
  left: -6em;
  font-size: 0.93rem;
  line-height: 1.25rem;
  color: #666;
  font-family: georgia, "times new roman", times, serif;
}

#telescope #img-title span {
  display: inline-block;
  color: #888;
  letter-spacing: 0.01em;
  font-size: 0.8em;
}

.imgsection {
  margin: 150px 0 0 0px;
  width: 100%;
}

.imgcontainer {
  width: 90%;
  margin: auto;
  display: flex;
}

.imgsection .imgcontainer .right-img .top-right-img {
  margin: 20px 0 20px 0;
}

.right-img {
  width: 70%;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: black;
  margin-right: 10px;
}

.top-right-img {
  display: flex;
  justify-content: space-around;
}

.top-right-img .top-img {
  margin-right: 15px;
  margin-top: 10px;
}

.top-right-img .top-img img {
  height: 70%;
  width: 100%;
}

.top-right-img a {
  text-decoration: none;
  color: rgb(18, 18, 18);
}

.editor {
  position: absolute;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}

.editor-top {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}

.article-container .editor-top {
  margin-left: 30px;
  font-size: 0.9em;
}

.top-right-img a .img-caption section {
  font-size: 1em;
  margin-top: 4px;
  margin-bottom: 4px;
}

.top-right-img a .img-caption span {
  font-size: 0.6em;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}

.top-right-img a .img-caption span:first-child {
  text-align: right;
  display: block;
  width: 100%;
}

.imgsection .imgcontainer .top-right-img:last-child {
  border-top: solid 1px;
  padding-top: 50px;
}

.top-right-img a:hover {
  color: gray;
}

.imgcontainer {
  margin-bottom: 1em;
}

.article-container {
  width: 30%;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: black;
  padding-top: 20px;
  margin-left: 10px;
}

.article-container ul li {
  border-top-style: solid;
  padding: 25px 0 25px 0;
  border-top-width: 0.5px;
  border-color: rgb(192, 192, 192);
  display: list-item;
  list-style-type: none;
}

.article-container ul li a:hover {
  color: grey;
}

.article-container ul li a {
  text-decoration: none;
  color: #333;
}

section.para {
  display: block;
  padding: 0 350px 0 350px;
  line-height: 1.5;
}

aside {
  display: block;
  width: 17%;
  float: right;
  padding-right: 45px;
}

.text-links {
  font-size: 12px;
  color: black;
}

#editors-picks > a {
  text-decoration: none;
}

#editors-picks > a :hover {
  text-decoration: underline;
}

img,
.text-links {
  vertical-align: middle;
}

#sign-up > small {
  font-size: 11.8px;
  color: grey;
  line-height: 0.5;
}

#some-img-caption {
  align: center;
  width: 100%;
  margin: auto;
}

#sign-up > button {
  width: 100%;
  height: 35px;
  background-color: #578ca9;
  color: white;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#sign-up > button:hover {
  background-color: #485167;
}

#some-img-caption {
  align: center;
  width: 100%;
  margin: auto;
}

section > #text-caption {
  margin: 0 0 0 85px;
}

figcaption {
  font-size: 12px;
  line-height: 17px;
  display: inline-block;
  width: 148%;
  text-align: justify;
}

#for-none {
  width: 5%;
  float: left;
  margin-left: 95px;
}

section#some-img-caption > p {
  font-size: 12px;
  margin-left: 95px;
}

#text-caption > small {
  display: inline-block;
  font-size: 11.8px;
  width: 70%;
  color: grey;
}

.boxes {
  box-sizing: border-box;
  display: inline-block;
  width: 90%;
  margin: 0 0 0 6%;
  padding-bottom: 3%;
}

.box {
  float: left;
  width: 250px;
  height: 250px;
  margin: 9px;
  padding: 12px;
}

.boxes2 {
  box-sizing: border-box;
  display: inline-block;
  width: 90%;
  margin: 0 0 0 6%;
  padding-bottom: 5%;
}

.box2 {
  float: left;
  width: 250px;
  height: 250px;
  margin: 9px;
  padding: 12px;
}

.footer-container {
  display: flex;
  margin: auto;
  width: 90%;
  height: 500px;
}

h5 {
  font-family: arial;
}

h3 {
  margin-left: 15px;
  font-family: Old English Text MT;
}

.footer-container > div {
  width: 100%;
  font-size: 12px;
  line-height: 25px;
  margin: 20px;
}

.footer-container > div > a {
  text-decoration: none;
  color: black;
  font-family: arial;
}

.footer-container > div > a:hover {
  text-decoration: underline;
}

#go-home {
  float: right;
}

#go-home > a {
  text-decoration: none;
  color: #326891;
}

hr {
  width: 90%;
  flex: 0;
  color: grey;
  size: 0.2;
}

.vl {
  border-left: 1px solid grey;
  flex: 0;
}

footer > #f-links > a {
  text-decoration: none;
  color: gray;
  font-size: 12px;
}

#f-links {
  border-top: 1px solid grey;
  margin: 0 75px 0 75px;
  padding-left: 150px;
}

.autor {
  width: 48%;
  margin: auto;
}

.autor .autor-name {
  padding-bottom: 1em;
}

.autor .autor-name a {
  font-family: helvetica, arial, sans-serif;
  font-weight: 700;
  color: #333;
  text-decoration: none;
}

.autor .autors-details {
  display: flex;
  justify-content: space-between;
}

.autor .autors-details .date {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 500;
  color: #333;
  margin-bottom: 1rem;
  font-size: 0.8125rem;
}

.autor .autors-details .social-network a {
  margin-right: 10px;
  border-radius: 50%;
  padding: 5px;
  background: rgb(230, 228, 228);
  text-decoration: none;
  font-size: 0.9em;
  color: #333;
  text-align: center;
}

.autor .autors-details .social-network a:hover {
  background: rgb(253, 253, 253);
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
}

.dish-section .dish-div .dish {
  width: 100%;
}

.dish-section .img-caption {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  margin-right: 7px;
  color: #666;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
}

.dish-section .img-autor {
  color: #888;
  font-size: 0.8em;
}
